<html>
    <head>
        <title>CTFLang</title>
        <%- include('../partials/bootstrap.ejs') %>
        <script src="ctfl.js"></script>
        <script src="playground.js"></script>
        <link rel="stylesheet" href="playground.css">
    </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <br/>
        <h1 style="text-align: center;">🚩</h1>
        <h3 style="text-align: center; margin-top: 1em">CTFLang</h3>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>