<html>
    <head>
        <title>CTFLang | Home</title>
        <%- include('../partials/base-head.ejs') %>
        <%- include('../partials/bootstrap.ejs') %>
        <style>
            p, .card {
                margin: 0 10em 0;
            }
        </style>
    </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <br/>
        <h1 style="text-align: center;">🚩</h1>
        <h3 style="text-align: center; margin-top: 1em">CTFLang</h3>
        <br/>
        <p><code>CTFLang</code> is a two-dimensional stack-based multiprogramming language similar to <code>Befunge</code>. The language was designed to be alot like a 2D-ASCII game, with multiple "characters" roaming around a "map". This makes <code>CTFLang</code> very unpredictable and full of race conditions!</p>
        <br/>
        <p>The obscurity makes <code>CTFLang</code> probably one of the most secure programming language ever! It is also relatively easy to learn, there is only a few characters to remember. Every operation is one opcode away!</p>
        <br/>
        <p>Here is what the community thinks of <code>CTFLang</code>:</p>
        <br/>
        <div class="card">
            <div class="card-body">
                <code>@ESOFOU1234</code>: 2. WORDS - PURE AG.ONY! NOT SURE WHY I'M M.AKING M.ORE #AGONY
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
                <code>@FRESHLEMON</code>: I D.ON'T RECOMMEND TO ANYONE!!! I SPENT MORE TIME CRYI.N.G. THAN PROGRAMMING #CRYING
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
                <code>@ALEXLAVOIE</code>: I'M NOT A P.R.O. EVEN IF WR.OTE THE LA.NGUAGE #HELP
            </div>
        </div>
        <br/>
        <p>If you want to see our amazing <code>CTFLang</code> programs, have a look at the <a href="./gallery">gallery</a>. You can give it a try with our interactive <a href="./playground">playground</a>. There is also a <a href="./challenge">challenge</a> if you want a <code>flag</code>.</p>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>