<html>
    <head>
        <title>VaxiNull | Home</title>
        <%- include('../partials/head.ejs') %>
        <%- include('../partials/bootstrap.ejs') %>
        <style>
            p, .card {
                margin: 0 10em;
                text-align: justify;
            }
        </style>
    </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <br/>
        <h1 style="text-align: center;">💉</h1>
        <h3 style="text-align: center; margin-top: 1em">VaxiNull</h3>
        <br/>
        <p>We are <code>VaxiNull</code>: a Montreal, QC based startup creating the <b>safest</b> vaccination verification software in the world! Our solution was created by the top engineers in QC, there is <b>null</b> way it can be broken. We are so certain of our claim that we even provide software samples for you "hackers" to try to break. Each sample comes with it's own <code>/.well-known/jwks.json</code> that can be found under the sample branch. For example, first sample's jwks.json can be found <a href="/samples/1/.well-known/jwks.json">here</a>. We don't provide source code because we don't want our trade secrets to be stolen.</p>
        <br/>
        <p>Here are some quotes from our top customers:</p>
        <br/>
        <div class="card">
            <div class="card-body">
                <code>@pmlego</code>: C'est facile, gratuit et sécuritaire.
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
                <code>@éclaire</code>: La solution que <code>VaxiNull</code> fournis ne peut pas être falsifié, ne peut pas être modifié et ne peut pas être copié.
            </div>
        </div>
        <br/>
        <p>For business inquries, please contact us at <a href="mailto:todo@todo.todo">todo@todo.todo</a>.</p>
        <p style="height: 100%;"></p>
        <center><i>Legal notice: If you do find a vulnerability in our software we will open a criminal case at SQ.</i></center>
        <br/>
    </body>
</html>