<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VaxiNull</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/samples/1">QR</a>
                <a class="nav-link" href="/samples/2">Alg</a>
                <a class="nav-link" href="/samples/3">JWKS</a>
                <a class="nav-link" href="/samples/4">ISS</a>
            </div>
        </div>
    </div>
</nav>