<html>
    <head>
        <title>Debug WASM</title>
        <link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
        <script src="./public/wasm.js"></script>
        <style>
            .gif {
                width: 500px;
            }
            .container {
                display: grid; 
                height: 100vh; 
                align-content: center; 
                justify-content: center; 
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <img class="gif" src="./public/search.gif"/>
            <h2 class="title">Can you see it?</h2>
            <span class="text">You may not be too late! Check <i>1337</i> if the flag is there.</span>
        </div>
    </body>
</html>