version: "3.0"

services:
  app:
    build:
      context: "."
    restart: "unless-stopped"
    environment: 
      - NODE_ENV=production
      - PORT=5000

      - FLAG=FLAG-TOO_MANY_ERRORS_TOO_MANY_DETAILS
    ports: 
      - 11111:5000
